@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,500;0,700;0,800;0,900;1,300&display=swap");

.App {
  text-align: center;
  font-family: "Prompt", sans-serif;
}

.center {
  text-align: -webkit-center;
}
.k-right {
  text-align: -webkit-right;
}
.f {
  font-family: "Prompt", sans-serif;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.theme {
  background-color: #7fa1ce;
}
.texttheme {
  color: #31598e;
}
.h-108 {
  height: 32rem;
}
.h-100 {
  height: 30rem;
}
.h-200 {
  height: 50rem;
}

::-webkit-scrollbar {
  background-color: none;
  border-radius: 10px;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #66577662;
  max-height: 30%;
  height: 30%;
}
::-webkit-scrollbar-track {
  border-radius: 30px;
  max-height: 50%;
  height: 50%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.in-h {
  height: inherit;
}
.center-kit {
  text-align: -webkit-center;
}

ul.nav li.current-menu-item Link {
  border: 1px solid red; /* this is your border */
}

.collapse-button {
  display: block;
  width: 100%;
}

.collapse-content.collapsed {
  display: none;
  animation-duration: 500ms;
}

.collapsed-content.expanded {
  display: block;
    animation-duration: 500ms;

}



/* <datalist> and <option> styling */
datalist {
  position: absolute;
  max-height: 10em;
  border: 0 none;
  overflow-x: hidden;
  overflow-y: auto;
  color:red;
}

datalist option {
  font-size: 0.8em;
  padding: 0.3em 1em;
  background-color: #ccc;
  cursor: pointer;
}

datalist option:hover, datalist option:focus {
  color: #fff;
  outline: 0 none;
}

/* .jzGaAN{
      padding-left: 25px !important;
      padding-right: 0px !important;

} */